*{
	margin: 0;
	padding: 0;
}
.life {
	width: 100%;
	height: 100vh;
}
.life img{
	width: 100%;
	height: 400px;
	margin-top: 5px;
}
.life a{
	text-decoration: none;
}
.life h1{
		border: 2px solid black;
		background-color: skyblue;
		text-align: center;
}